
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    padding: 30px;
}
form {
    background-color: #add4e4;
            border-radius: 5px;
            padding: 10px;
            max-width: 500px;
            margin: 0 auto;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            text-align: center;
            margin-top: -140px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 30px;
}

.button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 60px;
   

}

.button:hover {
    background-color: #45a049;
}


/* Estilos para a tabela */
.table {
    width: 100%;
    border-collapse: collapse;
    background-color: #f8f8f8;
    font-family: Arial, sans-serif;
    color: #333;
  }
  
  th, td {
    padding: 10px;
    border: 1px solid #ddd;
  }
  
  th {
    background-color: #4CAF50;
    color: #fff;
  }
  
  /* Estilos para as células da tabela */
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  tr:hover {
    background-color: #ddd;
  }
  
  