<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/cssEstudante.css">
    <title>Cadastro aula</title>
</head>
<body>

  <li><a href="/cadastroEstudante">Cadastro de estudante</a></li>
  <li><a href="/cadastroProfessor">Cadastro de professor</a></li>

    <form action="/cadastroAula" method="POST" >
        <div>
          <label for="titulo">Título</label>
          <input type="text" id="titulo" name="titulo" required>
        </div>
          <button type="submit" class="button">Cadastrar</button>
        </div>
    
</body>
</html>