<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/cssEstudante.css">
    <title>Cadastro Professor</title>
</head>
<body>
  <li><a href="/cadastroEstudante">Cadastro de estudante</a></li>
  <li><a href="/cadastroAula">Cadastro de aula</a></li>

      <form action="/cadastroProfessor" method="POST" >
          <div>
            <label for="nome">Nome</label>
            <input type="text" id="nome" name="nome" required>
          </div>
            <button type="submit" class="button">Cadastrar</button>
          </div>
      
</body>
</html>